footer{
	background-color: #EB9821;
	margin-left: -30px;
	margin-right: -30px;
	margin-bottom: -30px;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 16px;
	padding-bottom: 40px;
	border-top: 2px solid #C57F1A;
}