header{
	background-color: #FFE226;
	margin-top: -100px;
	padding-top: 80px;
	margin-left: -50px;
	margin-right: -50px;
	padding-left: 50px;
	padding-right: 50px;
	z-index: 1;
}

header ul {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	align-content: flex-start;
	width: 90%;
/*
	display: flex;
    flex-wrap: wrap;
    align-content:stretch;
	justify-content:center;
	align-items: baseline;
	align-content:stretch;
*/

	padding-left: 5%;
	padding-right: 5%;
}
header a {
  text-decoration: none; /*убираем подчеркивание текста ссылок*/
}
header li {
	padding-left: 10px;/* float:left; */
	padding-right: 10px;/*	Размещаем список горизонтально для реализации меню*/
/*  margin-right:5px;*/
	/*Добавляем отступ у пунктов меню*/
}

header h1{
	font-size: x-large;
	line-height: 0px;
	padding-top: 0px;
	text-align: center;
}
header p{
	font-size: medium;
	line-height: 0px;
	padding-bottom: 5px;
	padding-top: 0px;
}
header span{
	font-size: small;
	line-height: 0px;
	width: 100%;
	text-align: right;
	color: #4D4D4D;
	text-decoration: line-through;
}
