main{
	min-height: 300px;
	background-color: #FF1418;
	margin-top: -16px;
	padding-top: 7%;
	margin-left: -50px;
	margin-right: -50px;
	padding-left: 20%;
	padding-right: 20%;
	display: flex;
	flex-wrap: nowrap;
	align-content: center;
	align-items: flex-start;
	justify-content: center;/*	width: 70%;*/
	overflow-x: hidden;
}
main #content {
	/*
	margin-left: 15%;
	margin-right: 15%;
*/
/*	width: 70%;*/
	
/*	height: 100px;*/
	background-color: #31E0DD;
	min-width: 70%;
	max-width: 90%;
	flex-grow: 20;
	padding-bottom: 30px;
}

main .question_title{
	color: #474887;
	text-align: center;
}
main .question_text{
	margin-left: 10%;
	margin-right: 10%;
	text-align: justify;
	font-weight: 500;
	font-size: x-large;
	margin-top: 7%;
}

main .answers_field{
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 7%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

main .radiobutton{
	font-size: x-large;
	margin-bottom: 10px;
}

main .submit_box{
	margin-left: 0px;
	text-align: center;
}
main .submit_box input{
	background-color: #99DD00;
	border: 2px double #8FD000;
	border-radius: 8px;
	text-align: center;
	font-size: large;
	padding-right: 15px;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-top: 10px;
	margin-top: 25px;
}

main .reset_form{
	margin-left: 0px;
	margin-top: 50px;
	text-align: center;
}
main .reset_form input{
	background-color: #99DD00;
	border: 2px double #8FD000;
	border-radius: 8px;
	text-align: center;
	font-size: large;
	padding-top: 10px;
	padding-right: 15px;
	padding-bottom: 10px;
	padding-left: 15px;
}

main .prefix_title{
	margin-left: 20px;
	font-size: large;
}
main .input_range{
	width: 98%;
	margin-left: 1%;
}
main datalist{
	display: flex;
	flex-wrap: nowrap;
	align-content: center;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	background-color: #FFAE00;
	text-align: center;
}
main datalist option{
	text-align: center;
	background-color: #8AFF38;
	width: 5%;
	overflow-x: hidden;
	font-size: small;
}
main .test_tools_text{
	margin-left: 5%;
	margin-right: 5%;
	text-align: justify;
	font-weight: 500;
	font-size: x-large;
	margin-top: 7%;
}

main .count_questions_box{
	background-color: #B2B4FF;
	padding-left: 7%;
	padding-right: 7%;
	width: 86%;
	border: 1px double #3F3F3F;
}
main .count_qu_input{
	padding-top: 5px;
	padding-left: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	margin-left: 10px;
	min-width: 100px;
	border-radius: 8px;
	background-color: #E7E7E7;
}
main .count_qu_lable{
	font-size: large;	
}