main{
	min-height: 300px;
	background-color: #FF1418;
	margin-top: -16px;
	padding-top: 16px;
	margin-left: -50px;
	margin-right: -50px;
	padding-left: 15%;
	padding-right: 15%;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	align-items: center;
	justify-content: center;
/*	width: 70%;*/
}
main #content {
	/*
	margin-left: 15%;
	margin-right: 15%;
*/
/*	width: 70%;*/
	
	height: 100px;
	background-color: #31E0DD;
	min-width: 70%;
	max-width: 90%;
	flex-grow: 20;
}

main #content h1{
	color: #474887;
	text-align: center;
}