table {
	width: 80%;
	text-align: center;
	border-radius: 6px;
	border-collapse: separate;
	border-spacing: 0px;
	margin-left: 10%;
	margin-right: 10%;
	-webkit-box-shadow: 0px 0px;
	box-shadow: 0px 0px;
	border: 2px solid #2F2810;
	max-width: 100%;
	overflow-x: scroll;
}

table thead tr{
	font-weight: bold;
	background: #C67C13;
	
}

table thead tr th{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 15px;
	margin-left: 10%;
	border-right: 1px solid #795523;
	border-bottom: 3px solid #AF7C34;
	margin-right: 10px;
}

table tbody tr{
	background-color: #795523;
	border: 6px solid #AF7C34;
}


table tbody tr:hover {
	transition-duration: 0.6s;
}

.nerative{
	background-color: #EC7666;
}


.nerative:hover {
	background-color: #E7341C;
	transition-duration: 0.6s;
}

.positive{
	background-color: #BAEC51;
}


.positive:hover {
	background-color: #5CB715;
	transition-duration: 0.6s;
}

table tr td{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 10px;
	border-right: 1px solid #AF7C34;
}

.table_checkbox_box{
	display: flex;
	flex-wrap: nowrap;
	align-content: center;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	text-align: left;
}

.table_radiobutton_box{
	display: flex;
	flex-wrap: nowrap;
	align-content: center;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	text-align: left;
}