main .test_nav ul{
	list-style: none;
	background-color: #D32DC8;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
    padding-inline-start: 0px;
/*
	align-items: flex-start ;
	align-content:flex-start;
*/

}

main .test_nav {
	/*
	width: 70px;
	height: 150px;
*/
	background-color: #646B18;
	text-align: left;
	min-width: 45px;
	flex-grow: 1;
	display: inherit;/*
	min-width: 40px;
	max-width: 15%;
*/
}

/*
main .test_nav li{
	background-color: #0DBB00;
	border-radius: 5px;
	position: absolute;
	width: 5%;
	height: 5%;
}
*/

main .test_nav li {
	width: 30%;
	margin-top: 2px;
	margin-bottom: 1px;
	overflow: hidden; /* clearfix */
	min-width: 40px;
	text-align: center;
}

main .test_nav li:before {
  content: "";
  padding-top: 100%;
  float: left;
}

main .test_nav button{
	width: 100%;
	height: 100%;
	background-color: #DFD7A6;
	border-radius: 5px;
	border: 4px double #A9AB8C;
}

main .test_nav .positive{
	background-color: #0DBB00;
	border: 4px double #0A9000;
}

main .test_nav .negative{
	background-color: #D80000;
	border: 4px double #A30000;
}

main .test_nav .no_answer{
	background-color: #FFF859;
	border: 4px double #D4CE4C;
}
