.error {
    background-color: #E49698;
    color: #A30001;
    font-weight: 600;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    border-radius: 13px;
    margin-top: 5px;
    width: 100vmin;
}

form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: space-around;
    width: 100%;
    height: 90%;
}

.input_box {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: stretch;
    margin-top: 10px;
    margin-bottom: 10px;
}

input[type^=submit] {
    background-color: hsla(104, 100%, 95%, 1.00);
    border-left: 2px solid hsla(0, 0%, 44%, 1.00);
    border-right: 3px solid hsla(0, 0%, 44%, 1.00);
    border-bottom: 3px solid hsla(0, 0%, 44%, 1.00);
    border-top: 2px solid hsla(0, 0%, 44%, 1.00);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
}

h1 {
    text-align: center;
}